{"next-hop-groups": {
        "group": [
          {
            "name": "{{name}}",
            "nexthop": [
              {
                "index": {{index}},
                "ip-address": "{{ip_address}}"
              }
            ]
          }
        ]
      }
    }
